body {
  padding: 20px;
  font-size: 140%;
  font-family:New Century Schoolbook, serif;
  color: #111;
  font-weight: 300;
}

code, pre {
  font-family: "Lucida Console", "Courier New", monospace;
  color:#222;
  font-size: 80%;
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 20px 0 20px 0;
}

h1 { font-size: 200%; }

h1, h2, h3 {
  margin: 40px 0 20px 0;
  line-height: 1.4;
}

p, ul, ol, table, pre, dl {
  margin: 5px 0 20px 0;
}


a {
  color: #39c;
  font-weight: 500;
  text-decoration:none;
}

.lino
{
  margin: 0 0 10px 0;
}

.wrapper {
  width:94%;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:90%;
  float:left;
  padding-bottom:5px;
}

small {
  font-size: 70%;
}

hr {
  border:0;
  background:#333;
  height:1px;
  margin:0 0 20px;
}
